<?xml version="1.0" encoding="UTF-8"?>
<!--  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSTL</display-name>
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="4.0">
  <display-name>JSTL</display-name>
  
  <servlet>
    <servlet-name>Abonne</servlet-name>
    <servlet-class>controllers.AbonneController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Abonne</servlet-name>
    <url-pattern>/abonnes</url-pattern>
  </servlet-mapping>
  
</web-app>